body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #878787;
    font-size: 42px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;
    color: #878787FF;
}

a {
    text-decoration: none;
}

img {
    height: 64px;
    width: 64px;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.app-wrapper {
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 20px;
}

.units {
    position: relative;
    top: 14px;
    font-size: 24px;
}

.units .active {
    color: #878787FF;
}

.weather-forecast {
    text-align: center;
    margin-top: 20px;
    color: #000;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

#temperature {
    font-size: 52px;
}

#atmosphere {
    text-transform: capitalize;
}



